name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-latest
    container: aucobra/concert:988b37a
    steps:
    - name: Install Futhark
      run: |
          curl -O -L http://futhark-lang.org/releases/futhark-nightly-linux-x86_64.tar.xz
          tar xf futhark-nightly-linux-x86_64.tar.xz
          (cd futhark-nightly-linux-x86_64/ && PREFIX=$HOME/.local sudo make install)
          echo "$HOME/.local/bin" >> $GITHUB_PATH

    - run: sudo chown -R coq:coq .
    - uses: actions/checkout@v2

    - name: Build
      run: |
        export HOME=/home/coq && \
        env && \
        opam switch && \
        eval $(opam env --switch=${COMPILER_EDGE} --set-switch) && \
        make && \
        make test-extraction
